/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f1ff;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  width: 870px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}

/* Top Players */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.player {
  display: flex;
  align-items: center;
}

.player img {
  height: 56px;
}

.player-name {
  margin-left: 16px;
  font-size: 18px;
}

hr {
  border: 1px solid #d1d1d1;
}
