/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f1ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 870px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  margin-top: 20px;
}

/* Top Players */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.player {
  display: flex;
  align-items: center;
}

.player img {
  height: 56px;
}

.player-name {
  margin-left: 16px;
  font-size: 18px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* Top blogs styles */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px 45px;
}

.blog {
  display: flex;
}

.blog .thumbnail img {
  width: 177px;
  height: 117px;
}

.blog-info {
  margin-left: 16px;
}

.blog-title {
  font-size: 20px;
}

.blog-author {
  font-size: 16px;
  color: #9f9f9f;
}

.blog-author a {
  text-decoration: none;
  color: #562eff;
}

/* Course Styles */
.courses {
  display: grid;
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.course {
  width: 250px;
  height: 270x;
  padding: 13px 11px 16px 11px;
  border-radius: 12px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}

.course .course-banner img {
  width: 100%;
}

.course-title {
  font-size: 20px;
  color: #1e1e1e;
}

.course-author {
  color: #ed6b4f;
  font-size: 15px;
}

.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-info .fa-star {
  color: #ffc014;
  font-size: 12px;
}

.rating-point {
  color: #a2a2a2;
}

.duration {
  background-color: #ffe4e8;
  border-radius: 15px;
  padding: 4px 8px;
  color: #ff4a60;
}
